{% extends "cab.njk" %}

{% block content2 %}
<h2>Gerenciar Chefs</h2>
<section class="editAdm">
    {% for chef in chefs %}
        <div class="editChef" id="{{chef.id}}">
            <div class="img-fotoChef">
                <img src="{{chef.avatar_url}}" alt="{{chef.nome}}">
            </div>
            <div class="dados-chef">
                <p class="nomeDoChef">{{chef.nome}}</p>
                <a href="/adm/chefs/{{ chef.id }}">Visualizar</a>
            </div>
        </div>
    {% endfor %}
</section>
<div class="button">
    <a href="/adm/createChef" id="criarChef">Criar Chef</a>
</div>
{% endblock %}