<div class="item">
    <div>Imagem</div>
    <div>
        <input
            type="url"
            name="image"
            placeholder="http://"
            value= "{{receita.image}}"
        >
    </div>
</div>
<div class="item">
    <div>Nome da Receita</div>
    <div>
        <input
            type="text"
            name="title"
            value= "{{receita.title}}"
        >
    </div>
</div>

<div class="item">
<div>Autor</div>
    <div>
        <select name="autor">
            {% for chef in chefOptions %}
            <option value="{{chef.id}}"{% if receita.chef_id == chef.id %}selected {% endif %}>
                {{chef.nome}}
            </option>
            {% endfor %}
        </select>
    </div>
</div>

<div id="ingredients">
<div>Ingredientes</div>
    {% for ingredient in receita.ingredients %}
    <div class="ingredient">
        <input
            type="text"
            name="ingredients"
            value= "{{ingredient}}"
            placeholder="Ingrediente"
        >
    </div>
    {% endfor %}
</div>
<button type="button" class="add-ingredient">Add Ingredient</button>

<div id="preparation">
<div>Modo de Preparo</div>
    {% for passo in receita.preparation %}
    <div class="prepara">
        <input
            type="text"
            name="preparation"
            value= "{{passo}}"
            placeholder="Passo"
        >
    </div>
    {% endfor %}
</div>
<button type="button" class="add-prepara">Add preparação</button>

<div class="item">
<div>Informações</div>
    <div>
        <input
            type="text"
            name="information"
            value= "{{receita.information}}"
        >
    </div>
</div>

<div class="button">
    <button type="submit">Salvar</button>
</div>
