@import "sylesTotal.css";


/* cabecalho adm */

.cabe2 {
    background-color: black;
    height: 50px;
}
.cabeçalho2 {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    padding: 8px 0;
}

.cablink, .cabAdm {
    color: white;
}

.cablink {
    padding-left: 20px;
}

.cabAdm {
    font-size: 26px;
    font-weight: 700;
}

/* gerenciar receitas */

.h2GerenciarRecei {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 30px 0;
}

.editAdm {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.editReceita {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 3px 1px 6px -4px black;
}

.editReceita .img-pratoAdm img{
    width: 100%;
    border-radius: 15px;
    height: 100px;
}

.prato {
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 0;
}

.autor {
    font-size: 14px;
    text-align: left;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    opacity: 70%;
}

.linkVisualizar {
    padding-left: 5px;
}

.button {
    width: 940px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#criarReceita, #criarChef {
    color: white;
    background-color: rgb(201, 31, 31);
    border-radius: 5px;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    box-shadow: 3px 1px 6px -4px black;
}

/* editar receita */

.formularioReceita, .formularioChef {
    max-width: 940px;
    margin: 0 auto;
    height: 100%;
    margin-top: 30px;
}

.formularioReceita h1 {
    padding: 0;
    padding-bottom: 20px;
}

/* criar receita */

.createform {
    width: 940px;
    margin: 0 auto;
}

input, select {
    width: 100%;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgb(136, 132, 132);
    margin-top: 6px;
    margin-bottom: 6px;
}

.item, #ingredients, #preparation {
    font-size: 16px;
    color: var(--color-text);
    font-weight: bold;
}

/* show */

.editar, button[type="submit"] {
    color: white;
    background-color: rgb(14, 12, 37);
    border-radius: 5px;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    box-shadow: 3px 1px 6px -4px black;
    cursor: pointer;
}

/* show chef */

.chefShow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 32px;
}

.chefShow h2 {
    padding: 0;
}

.buttonChef {
    text-align: center;
}

.chefImg {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.chefImg img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.chefImg h2 {
    font-size: 32px;
}

.chefImg p {
    margin: 0;
    padding: 0;
    color: var(--color-autor);
}

.receitasdosChefs {
    width: 940px;
    margin: 0 auto;
    padding: 30px 0 20px 0;
}


/* paginação */

.centralizar {
    margin: 0 auto;
    width: 940px;
    max-width: 100%;
    position: relative;
}

.centralizar .pagination {
    margin: 0 auto;
    text-align: center;
}

.pagination a {
    color: #111111;
    border-radius: 2px;
    background-color: var(--color-autor);
    padding: 3px;
    margin-left: 5px;
}

.pagination a:hover {
    filter: brightness(0.9);
    border-bottom: 1px solid var(--primary-color);
}

/* pagina para ver os chefs */

.editAdm .editChef {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 3px 1px 6px -4px black;
}

.editChef .img-fotoChef img{
    width: 100%;
    height: 100px;
    border-radius: 15px;
}
.editChef .dados-chef {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.editChef .dados-chef p {
    padding: 5px;
    margin: 0;
}

.editChef .dados-chef a {
    text-decoration: none;
    color: var(--color-text);
    padding: 5px;
}

/* pag chefs */
.menu2 {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 56px;
    position: relative;
}

.amostraChefs {
    display: grid;
    grid-template-columns: 100px 1fr;
    cursor: pointer	;   
}

.amostraChefs .img-fotoChef img {
    width: 100%;
    height: 100px;
    border-radius: 50%;
}

.amostraChefs .dados-chef p {
    margin: 0;
    margin-left: 6px;
    align-items: center;
    padding-top:  5px;
    padding-bottom: 5px;
}

.amostraChefs .dados-chef .nomeDoChef {
    font-size: 18px;
    color: var(--color-text);
    font-weight: bold;
}

.amostraChefs .dados-chef .totalReceitas {
    font-size: 14px;
    color: var(--color-autor);
}