{% extends 'layout.njk' %}

{% block link %}
<div class="gridlinks">
    <a class="links" href="/sobre">Sobre</a>
    <a class="links" href="/receitas">Receitas</a>
    <a class="links" href="/chefs">Chefs</a>
</div>
{% endblock %}

{% block content %}
        <section class="intro">
            <div class="textIntro">
                <div class="h1Asmelhores">
                    <h1>As Melhores receitas</h1>
                </div>
                <div class="pAsmelhores">
                    <p class="descri">Aprenda a contruir os melhores pratos 
                    com receitas criadas por proficionais do mundo inteiro.</p>
                </div>
            </div>
            <div>
                <img class="chef" src="/imagens/chef.png" alt="chef">
            </div>
        </section>

        <h2 class="h2MaisAcess">Mais acessadas</h2>
    
        <section class="acess">
        {% for receita in receitas %}
            <div class="receita" id="{{receita.id}}">
                <div class="img-prato">
                    <img src="{{receita.image}}" alt="imagem de {{receita.title}}">
                </div>
                <div class="prato-autor">
                    <p class="prato">{{receita.title}}</p>
                    <p class="autor">Por {{receita.autor}}</p>
                </div>
            </div>
        {% endfor %}
        </section>
{% endblock %}