{% extends 'layout.njk' %}

{% block head %}
<title>{{receita.title}}</title>
{% endblock %}

{% block content %}

<section class='receitaReceita'>
	<div class="gallery">
		<div class="highlight">
			{% if not receita %}
				<img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
			{% else %}
			   <img 
					src="{{receita.file[0]}}" 
					alt="{{receita.title}}"
				>
				<input type="hidden" class="idRecipe" value="{{receita.id}}">
			{% endif %}
		</div>
		<div class="gallery-preview">
			{% for image in receita.file %}
				<img 
					src="{{image}}" 
					{% if loop.index0 == 0 %}
					class="active"
					{% endif %}
					onclick="ImageGallery.setImage(event)"
				>
			{% endfor %}
		</div>
	</div>

	<div class="titleReceita">
		<h1>{{receita.title}}</h1>
		<p>{{receita.autor}}</p>
	</div>

	<div class="receitaIngredientes">
		<div class="modal">
			<div class="ind">
				<h2>Ingredientes</h2>
				<p class= 'closeModal'>ESCONDER</p>
			</div>
			<div class="edit">
				{% for ingrediente in receita.ingredients %} 
					<li>{{ingrediente}};</li>
				{% endfor %}
			</div>
		</div>

		<div class="modal">
			<div class="ind">
				<h2>Preparação</h2>
				<p class= 'closeModal2'>ESCONDER</p>
			</div>
			<div class="edit2">
				{% for passo in receita.preparation %} 
					<li>{{passo}};</li>
				{% endfor %}
			</div>
		</div>
		
		<div class="modal">
			<div class="ind2">
				<h2>Informações adicionais</h2>
				<p class= 'closeModal3'>ESCONDER</p>
			</div>
			<div class="edit3">
				<p>{{receita.information}}</p>
			</div>
		</div>
	</div>

</section>

{% endblock %}