{% extends "cab.njk" %}

{% block content2 %}

<form action="/adm/users?_method=PUT" method="post">
<div class="controllerAdm">
    <div class="h2Controller">
        <h2>Atualizar usuário</h2>
    </div>
</div>

<section class="showUser">
    <div class="item">
        <div>Nome</div>
        <div>
            <input
                type="text"
                name="name"
                placeholder="nome"
                value= "{{user.name}}"
            >
        </div>
    </div>
    </div>
    <div class="item">
        <div>Email</div>
        <div>
            <input
                type="email"
                name="email"
                placeholder="email"
                value= "{{user.email}}"
            >
        </div>
    </div>
    <div class="item">
        <input type="checkbox" name="isAdm"
        {% if user.is_admin == true %}
         checked
        {% endif %}
        > Administrador
    </div>
</section>

    <div class="button buttonCenter">
        <button type="submit">Salvar</button>
    </div>
</form>
<div class="button buttonCenter">
    <form id="form-delete" action="/adm/users?_method=DELETE" method="post">
    <input type="hidden" name="id" value="{{user.id}}">
        <button class="removeUser" type="submit">Remover</button>
    </form>
</div>


{% endblock content2 %}