{% extends "cab.njk" %}

{% block content2 %}

<section class="formularioReceita">
    
    <h1>Editar Receita</h1>

    <form action="/adm/create?_method=PUT" method="post" enctype="multipart/form-data">

        {% include 'recipe/includ.njk' %}

        <input type="hidden" name="id" value={{receita.id}}>

    </form>

    <form id="form-delete" action="/adm/recipe?_method=DELETE" method="post">
        <div class="button buttonCenter">
            <input type="hidden" name="id" value="{{receita.id}}">
            <button type="submit">Deletar</button>
        </div>
    </form>

</section>

<script>
        
    const formDelete = document.querySelector('#form-delete')
    formDelete.addEventListener('submit', function(event) {
        const confirmation = confirm('Deseja Deletar?')
        if (!confirmation) {
            event.preventDefault()
        }
    })

</script>

{% endblock content2 %}