<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy</title>
        <link rel="stylesheet" href="/layoutStaly.css">
        <link rel="stylesheet" href="/staly.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="cabe2">
            <div class="cabeçalho2">
                <a href="/adm" class="cabAdm">Foodfy</a>
                <a href="/adm" class="cablink">Receitas</a>
                <a href="/adm/chefs" class="cablink">Chefs</a>
            </div>
        </header>

        {% block content2 %}{% endblock %}

        <div class="centralizar">
            <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
            ></div>
        </div>

        <footer>
            <h3>Todos direitos reservados, receitas Foodfy.</h3>
        </footer>

        <script src="/script.js"></script>

    </body>
</html>