<link rel="stylesheet" href="/styles/stylesClient.css">
<link rel="stylesheet" href="/styles/stylesAdm.css">
<link rel="stylesheet" href="/styles/stylesTotal.css">
<link rel="stylesheet" href="/styles/messages.css">
<link rel="stylesheet" href="/styles/login.css">
<link rel="stylesheet" href="/styles/cabAdm.css">
<link rel="stylesheet" href="/styles/cabClient.css">
<link rel="stylesheet" href="/styles/stylesButton.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">